{# templates/emails/reset.html.twig #}
<h1>Reset Your Password</h1>
<p>Click the link below to reset your password:</p>
<a href="{{ url('app_reset_password', {'token': app.user.resetToken}) }}">Reset Password</a>